<div class="master-container">
    <div class="nav-container">
        <header class="head_nav">
            <a href style="border: none">
                <br>
                <span><a><img src="favicon.ico" alt="logo" height="76"></a></span>
            </a>
            <span id="text">PIXEL EDITOR</span>
            <nav data-radium="true" style="justify-content: flex-end;">
                <span id="a_enlaces">
                    <a href="https://www.franklincarranza.com" target="_blank">
                        <button>
                            Check my web Page!
                        </button>
                    </a>
                </span>
            </nav>
        </header>
    </div>
</div>