.master-container {}

.nav-container {
    padding-left: 20px;
    padding-right: 20px;
}


.head_nav {
    width: 100%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#a_enlaces {
    margin-left: 20px;
}

#text {
    font-size: 40px;
    position: relative;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    text-align: center;
}

button {
    margin: 10px;
    width: 150px;
    height: 75px;
    background-image: url('/assets/button.png') !important;
    background-size: contain
}